<html>
  <head>
    {{template "parts/head" .}}
    <link href="/_/css/error.css" rel="stylesheet">
  </head>
  <body>
    {{template "parts/navbar" .}}
    <main>
      {{template "parts/sidebar" .}}
      <div class="content md">
        {{ if eq .code 404 }}
          <h3>{{ l "error.404.title" }}</h3>
          <p>{{ l "error.404.desc" }}</p>
          {{if .path}}
            <p>{{ l "error.404.create" .path }}</p>
          {{end}}
        {{ else if eq .code 400 }}
          <h3>{{ l "error.400.title" }}</h3>
          <p>{{ l "error.400.desc" }}</p>
        {{else}}
          <h3>{{ l "error.unknown.title" }}</h3>
          <p>{{ l "error.unknown.desc" }}</p>
        {{end}}
      </div>
    </main>
    {{template "parts/footer" .}}
  </body>
</html>
