<!doctype html>
<html lang="{{.conf.Lang}}">
  <head>
    {{template "parts/head" .}}
    <link href="/_/css/search.css" rel="stylesheet">
  </head>
  <body>
    {{template "parts/navbar" .}}
    <main>
      {{template "parts/sidebar" .}}
      <div class="content md">
        {{$total := (add .length.titles .length.headings .length.tags)}}
        {{if eq $total 0}}
          <h2>{{l "search.none.title"}}</h2>
          <p>{{l "search.none.desc"}}</p>
        {{else}}
          <h2>{{l "search.title" $total}}</h2>
          <p>{{l "search.desc"}}</p>
        {{end}}

        {{if .result.titles}}
          {{if eq .type 0}}
            <h4 class="matches">{{l "search.titles" .length.titles}}</h4>
          {{end}}
          <ul>
            {{range $path, $page := .result.titles}}
              <li><a href="{{$path}}">{{$page.Title}}</a></li>
            {{end}}
          </ul>
        {{end}}

        {{if .result.headings}}
          {{if eq .type 0}}
            <h4 class="matches">{{l "search.headings" .length.headings}}</h4>
          {{end}}
          <ul>
            {{range $path, $page := .result.headings}}
              <li><a href="{{$path}}">{{$page.Title}}</a></li>
            {{end}}
          </ul>
        {{end}}

        {{if .result.tags}}
          {{if eq .type 0}}
            <h4 class="matches">{{l "search.tags" .length.tags}}</h4>
          {{end}}
          <ul>
            {{range $path, $tag := .result.tags}}
              <li><a href="{{$path}}">{{$tag}}</a></li>
            {{end}}
          </ul>
        {{end}}
      </div>
    </main>
    {{template "parts/footer" .}}
  </body>
</html>
