{{if .page}}
  <title>{{.page.Title}} - {{.conf.Name}}</title>
{{else}}
  <title>{{.conf.Name}}</title>
{{end}}

<!-- standart meta tags -->

<meta name="viewport" content="width=1024">
<meta name="description" content="{{.conf.Desc}}">
{{if .conf.Keywords}}
  <meta name="keywords" content="{{.conf.Keywords}}">
{{end}}
{{if eq .conf.Theme "dark"}}
  <meta name="color-scheme" content="only dark" />
{{else if eq .conf.Theme "light"}}
  <meta name="color-scheme" content="only light" />
{{end}}

<!-- open graph meta tags -->

<meta property="og:title" content="{{.page.Title}}">
<meta property="og:type" content="website">
{{if .conf.Url}}
  <meta property="og:image"
    content='{{urljoin .conf.Url "/_/assets/" .conf.Icon}}'>
  <meta property="og:url" content="{{urljoin .conf.Url}}">
{{end}}

<!-- resources -->

{{if .conf.Icon}}
  <link rel="icon" href="/_/assets/{{.conf.Icon}}">
{{else}}
  <link rel="icon" href="data:;base64,=">
{{end}}
{{if .conf.Url}}
  <link
    rel="search" type="application/opensearchdescription+xml"
    title="{{.conf.Name}}" href="/opensearch.xml"
  />
{{end}}

<link rel="stylesheet" href="/_/themes/{{.conf.Theme}}.css"/>
<link rel="stylesheet" href="/_/css/style.css"/>
